body {
    background-color: var(--accent-bg-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color)
}

ul li::marker {
    color: var(--text-color);
}

a,
.mw-parser-output a.extiw,
.mw-parser-output a.external {
    color: var(--primary-link-color)
}

.mw-page-container {
    background-color: var(--primary-bg-color)
}

.vector-toc {
    background-color: var(--toc-bg-color)
}

.vector-main-menu,
.vector-toc .vector-toc-link {
    color: var(--toc-link-color)
}

.vector-toc .vector-toc-list-item-active>.vector-toc-link,
.vector-toc .vector-toc-level-1-active:not(.vector-toc-list-item-expanded)>.vector-toc-link,
.vector-toc .vector-toc-list-item-active.vector-toc-level-1-active>.vector-toc-link {
    color: var(--active-toc-link-color)
}

.vector-pinnable-header-label {
    color: var(--text-color);
}

.vector-pinnable-header-toggle-button {
    color: var(--toc-hide-link-color);
}

.vector-pinnable-header-toggle-button:before,
.vector-pinnable-header-toggle-button:after {
    color: var(--active-toc-link-color)
}

#vector-toc-pinned-container .vector-toc:after {
    content: none;
}

.vector-body-before-content {
    color: var(--text-color)
}

.vector-toc .vector-toc-level-1-active:not(.vector-toc-list-item-active)>.vector-toc-link {
    color: var(--expanded-toc-parent-color)
}

.vector-feature-page-tools-disabled .vector-main-menu-group .vector-menu-heading,
.vector-feature-page-tools-disabled .vector-main-menu-action-item .vector-menu-heading {
    color: var(--main-menu-heading)
}

.vector-feature-page-tools-disabled .vector-main-menu {
    background-color: var(--main-menu-bg)
}

.vector-feature-page-tools-disabled .vector-main-menu-group .vector-menu-content li a {
    color: var(--main-menu-link);
}

.vector-feature-page-tools-disabled .vector-main-menu-group .vector-menu-content li a:visited {
    color: var(--main-menu-link-visited)
}

.mw-message-box {
    background-color: var(--main-menu-message-box-bg);
    color: var(--main-menu-message-box-text);
}

.mw-parser-output .hatnote {
    color: var(--hatnote-color)
}

span.mw-page-title-main {
    color: var(--main-title-color)
}

.mw-parser-output a {
    color: var(--primary-link-color);
}

.mw-parser-output p,
.mw-parser-output h1,
.mw-parser-output h2,
.mw-parser-output h3,
.mw-parser-output h4,
.mw-parser-output h5,
.mw-parser-output li {
    color: var(--text-color)
}

.mw-parser-output a.external,
a.text {
    color: var(--dark-link-color)
}

.mw-parser-output a.external {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/link-external-small-ltr-progressive.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.857em;
    padding-right: 1em;
}

.infobox {
    background-color: var(--accent-bg-color);
    color: var(--text-color)
}

.infobox a {
    color: var(--primary-link-color)
}

.infobox th>a {
    color: var(--dark-link-color)
}

.infobox th {
    background-color: var(--primary-bg-color) !important;
}

.infobox .hidden-title {
    background-color: var(--primary-bg-color) !important;
}

div.thumbinner {
    background-color: var(--accent-bg-color);
}

div.thumbcaption {
    color: var(--text-color);
}

div.thumbcaption a {
    color: var(--dark-link-color)
}

div.reflist a {
    color: var(--reflist-link-color)
}

div.reflist a.extiw,
div.reflist a.external {
    color: var(--reflist-link-color);
}

div.reflist a.external {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/link-external-small-ltr-progressive.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.875em;
    padding-right: 1em;
}

img.mw-logo-wordmark,
img.mw-logo-tagline,
#mw-sidebar-button,
#p-personal {
    filter: invert(1)
}

.mw-page-container a {
    color: var(--primary-link-color)
}

.mw-parser-output .sidebar {
    /* background: var(--sidebar-bg) !important; */
    background: var(--sidebar-bg);
}

.mw-parser-output .sidebar-pretitle,
.mw-parser-output .sidebar-list-title-c {
    color: var(--sidebar-title);
}

.vector-menu-tabs .mw-list-item a {
    color: var(--primary-link-color)
}

.vector-menu-tabs .mw-list-item.selected a,
.vector-menu-tabs .mw-list-item.selected a:visited {
    color: var(--dark-link-color)
}

.vector-menu-heading-label {
    color: var(--text-color);
}

.mw-ui-icon:before {
    filter: var(--filter-one);
}

.vector-dropdown>.vector-menu-heading:not(.mw-ui-icon-element):after {
    filter: var(--filter-one);
}

.mw-parser-output .side-box,
.mw-parser-output .navbox {
    background-color: var(--navbox-background) !important;
    border: 1px solid var(--navbox-border) !important;
}

.navbox a {
    color: var(--navbox-link-color);
}

.navbox {
    color: var(--navbox-text);
}

.mw-parser-output .navbox-title {
    background-color: var(--navbox-title-background) !important;
}

.mw-parser-output .navbox-abovebelow,
.mw-parser-output .navbox-group,
.mw-parser-output .navbox-subgroup .navbox-title {
    background-color: var(--navbox-group-header-color) !important;
}

.mw-parser-output .navbox-subgroup .navbox-group,
.mw-parser-output .navbox-subgroup .navbox-aboveb {
    background-color: var(--navbox-subgroup-header-color) !important;
}

.mw-parser-output .navbox-subgroup {
    background-color: var(--navbox-subgroup-background-color) !important;
}

.mw-parser-output .navbox-even {
    background-color: var(--navbox-subgroup-alt-background-color) !important;
}

.catlinks {
    background-color: var(--accent-bg-color);
}

.mw-footer li {
    color: var(--text-color);
}

.vector-dropdown .vector-dropdown-content,
.vector-dropdown>.vector-menu-content {
    background-color: var(--accent-bg-color)
}

.vector-feature-page-tools-enabled .vector-pinnable-element .vector-menu-heading,
.vector-dropdown-content .vector-menu-heading {
    color: var(--text-color);
}

.vector-feature-page-tools-enabled .vector-pinnable-element .mw-list-item a,
.vector-dropdown-content .mw-list-item a,
.vector-dropdown .mw-list-item a:not(.mw-selflink):visited,
.vector-dropdown .mw-list-item a:not(.mw-selflink) {
    color: var(--primary-link-color);
}

.uls-menu,
.uls-search,
.uls-lcd,
#uls-settings-block.uls-settings-block--vector-2022.uls-settings-block--with-add-languages {
    background-color: var(--accent-bg-color);
}

#uls-settings-block.uls-settings-block--vector-2022>button.uls-language-settings-button,
.oo-ui-image-progressive.oo-ui-icon-edit,
.mw-ui-icon-edit-progressive:before,
.oo-ui-image-progressive.oo-ui-icon-add,
.mw-ui-icon-add-progressive:before,
#uls-settings-block.uls-settings-block--vector-2022>button.uls-add-languages-button,
.uls-language-actions-title,
.uls-search-label {
    filter: var(--filter-one);
}

.skin-vector .uls-lcd-region-title {
    color: var(--text-color);
}

.uls-language-block a,
.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive>.oo-ui-buttonElement-button {
    color: var(--primary-link-color)
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive>.oo-ui-buttonElement-button:hover {
    color: var(--dark-link-color);
}

.uls-language-block a:hover {
    background-color: var(--primary-bg-color)
}

#languagesettings-settings-panel,
#languagesettings-settings-panel h4,
.uls-language-settings-close-block,
.uls-ui-languages p,
.checkbox,
.checkbox strong,
.languagesettings-menu h1,
.languagesettings-menu .menu-section.active,
.languagesettings-menu .menu-section,
.languagesettings-menu .menu-section .settings-text,
.uls-font-label strong,
.uls-font-label,
.uls-input-settings-disable-info,
.uls-input-settings-no-inputmethods,
.uls-input-settings .uls-input-settings-inputmethods-list {
    background-color: var(--accent-bg-color);
    color: var(--text-color);
}

.languagesettings-menu .menu-section:hover,
.languagesettings-menu .menu-section:hover .settings-text,
#languagesettings-panels .mw-ui-pressed,
.mw-ui-button.mw-ui-progressive:not(:disabled) {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.mw-ui-button.mw-ui-progressive:disabled,
.mw-ui-button.mw-ui-progressive:not(:disabled):hover {
    background-color: var(--accent-bg-color);
    color: var(--text-color);

}

.uls-font-item:nth-child(n) {
    background-color: var(--accent-bg-color);
}

.mw-ui-button.mw-ui-quiet.mw-ui-progressive,
.mw-ui-button.mw-ui-quiet.mw-ui-destructive {
    color: var(--text-color);
}

#pagehistory li.selected {
    background-color: var(--accent-bg-color);
    color: var(--text-color);
}

.wikitable {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: var(--accent-bg-color);
}