:root {
    /* General colors */
    --primary-bg-color: #333;
    --accent-bg-color: #555;
    
    /* TOC Colors */
    --toc-bg-color: var(--accent-bg-color);
    --toc-link-color: var(--dark-link-color);
    --active-toc-link-color: #CCC;
    --toc-hide-link-color: var(--dark-link-color);
    --expanded-toc-parent-color: #CCC;
    
    /* Text colors */
    --text-color: #FFF;
    --hatnote-color: var(--text-color);
    --main-title-color: var(--text-color);
    --primary-link-color: #d3c4a9;
    --dark-link-color: #c0a97f;

    /* Infobox Colors */
    --infobox-background: #555;
    
    /* ReferenceList Colors */
    --reflist-link-color: #c0a97f;

    /* Navbox */
    --navbox-background: #555;
    --navbox-border: #000;
    --navbox-title-background: #727272;
    --navbox-group-header-color: #7a6338;
    --navbox-subgroup-header-color: #937845;
    --navbox-subgroup-background-color: #666;
    --navbox-subgroup-alt-background-color: #777;
    --navbox-link-color: #d3c4a9;
}